i {
  font-size: 30px;
}
p {
  /* color: #fff; */
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.cor-clients {
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.top-container {
  background: url("./assets/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-contact {
  background: url("./assets/business.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* a p:hover{
    color: rgb(199, 126, 31);
} */
